.ui-page {
	background: #FFFFF0 ;
}


.ui-page .ui-header {
	background: #FFF0C5;
}

.ui-content {
	font-size: 0.95em !important;
	padding: 5px !important;	
}

h1 {
	color: #000 !important;
	/*font-size: 1.3em !important;*/
}

h2 {
	font-size: 1.2em !important;
	margin: 2px !important;
	padding-top: 5px !important;
}

h3 {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

a {
	color: black !important;	
}

#controls {
	padding-left: 20px;	
}

#biomuta #controls .ui-input-text  {
	width: 100px !important;
	margin-right: 4x !important;
}


#biomuta #controls #btn_biomuta_sbt {
/*	width: 100px;*/
}

table #biomuta-table {
	background: #EEEEEE !important;
}

#textarea_gene_set {
	width: 175px !important;
	height: 100px !important;
	float: left !important;
}

table {
	margin: auto !important;
}

.defaultText { width: 150px; }

.defaultTextActive { 
	color: #a1a1a1; 
	font-style: italic; 
}
    

/* Add alternating row stripes */
.table-stripe tbody tr:nth-child(odd) td {
  background-color: rgba(0,0,0,0.04);
}

/* Add stroke to the header and last item */
.table-stripe thead th {
 	border-bottom: 3px solid rgba(0, 0, 0, 0.1);
 	background-color: rgba(225,225,225,1); 
 		text-align:center;

}

#biomuta-header-table tbody tr {
	font-size: 11px;	
}

#biomuta-table tbody tr {
	font-size: 11px;
}

#biomuta-table tbody  {
	text-align:center;
}

#biomuta-detail-table #td-status {
	height: 30px;
  	line-height: 30px;
}

#biomuta-detail-table a {
	color: #0000FF !important;
}

#biomuta-invalid-msg {
	display: none;
	font-size: 11 px;
	color: red;	
}

#homemenu {
	position: absolute;
	top: 40%;
	margin-left: 20%;	
}

.header-hivelogo {
	float: left !important;
	margin-left: -5px !important;
}

#goBackButton {
	float: left;
	maring-left: 5px;
}


